# csv file
* common file for transferring and storing data

# argument use inside the read_csv() method

* filename or url
* index
* header
* index_cols
* nrows
* usecols
* skiprows

# install pandas

* pip install pandas
* python -m pip install --upgrade pip

In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\arjun\appdata\roaming\python\python311\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\arjun\appdata\roaming\python\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arjun\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\arjun\appdata\roaming\python\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\arjun\appdata\roaming\python\python311\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\arjun\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Syntax:

```python

Reading a specific number or rows

import pandas as pd

df = pd.read_csv("url_csv or file_name", nrows = 5)

DF


Setting an index column

import pandas as pd

df = pd.read_csv("url_csv or filename", index_col=0)

df

```

# importing and reading

df = data frame

```python

import pandas as pd

url_csv = "URL name"

df = pd.read_csv(url_csv, index_col = 0)


df.head()

df.tail()


----------------------------------------------


import pandas as pd

df = pd.read_csv("book.csv", index_col = 0)

df.head()

def.tail()


```

In [2]:
import pandas as pd

In [5]:

dis = {
    "a":[1,2,3],
    "b": [4,5,6],
    "c" : [7,8,9]
}

df = pd.DataFrame(dis)

print(df)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [6]:
df.to_csv("example_first.csv")

# removing index

In [7]:
df.to_csv("example_second.csv", index=False)

# changing header

In [10]:
df.to_csv("example_third.csv", index=False, header=["1-3","4-6", "7-9" ])

# reading data format

In [43]:
data = [
    ["Title", "Author", "Genre", "Pages", "Publication Year"],
    ["1984", "George Orwell", "Dystopian Fiction", 328, 1949],
    ["To Kill a Mockingbird", "Harper Lee", "Fiction", 281, 1960],
    ["The Great Gatsby", "F. Scott Fitzgerald", "Classic", 218, 1925],
    ["Pride and Prejudice", "Jane Austen", "Romance", 279, 1813],
    ["The Catcher in the Rye", "J.D. Salinger", "Coming-of-age", 277, 1951],
    ["The Hobbit", "J.R.R. Tolkien", "Fantasy", 310, 1937],
    ["Harry Potter and the Philosopher's Stone", "J.K. Rowling", "Fantasy", 223, 1997],
    ["The Lord of the Rings", "J.R.R. Tolkien", "Fantasy", 1178, 1954],
    ["Jane Eyre", "Charlotte BrontÃ«", "Gothic Fiction", 366, 1847],
    ["Animal Farm", "George Orwell", "Political Satire", 112, 1945],
    ["Brave New World", "Aldous Huxley", "Science Fiction", 311, 1932],
    ["The Chronicles of Narnia", "C.S. Lewis", "Fantasy", 767, 1950],
    ["To the Lighthouse", "Virginia Woolf", "Modernist Fiction", 209, 1927],
    ["Crime and Punishment", "Fyodor Dostoevsky", "Philosophical Fiction", 551, 1866],
    ["The Picture of Dorian Gray", "Oscar Wilde", "Gothic Fiction", 254, 1890],
    ["Moby-Dick", "Herman Melville", "Adventure", 585, 1851],
    ["The Grapes of Wrath", "John Steinbeck", "Historical Fiction", 464, 1939],
    ["War and Peace", "Leo Tolstoy", "Historical Fiction", 1225, 1869],
    ["The Bell Jar", "Sylvia Plath", "Semi-autobiographical Fiction", 244, 1963],
    ["The Road", "Cormac McCarthy", "Post-apocalyptic Fiction", 287, 2006],
    ["The Hitchhiker's Guide to the Galaxy", "Douglas Adams", "Science Fiction", 215, 1979]
    # Add more rows as needed
]

dict_data = [dict(zip(data[0], row)) for row in data[1:]]


df = pd.DataFrame(dict_data)


df

,Title,Author,Genre,Pages,Publication Year
0,1984,George Orwell,Dystopian Fiction,328,1949
1,To Kill a Mockingbird,Harper Lee,Fiction,281,1960
2,The Great Gatsby,F. Scott Fitzgerald,Classic,218,1925
3,Pride and Prejudice,Jane Austen,Romance,279,1813
4,The Catcher in the Rye,J.D. Salinger,Coming-of-age,277,1951
5,The Hobbit,J.R.R. Tolkien,Fantasy,310,1937
6,Harry Potter and the Philosopher's Stone,J.K. Rowling,Fantasy,223,1997
7,The Lord of the Rings,J.R.R. Tolkien,Fantasy,1178,1954
8,Jane Eyre,Charlotte BrontÃ«,Gothic Fiction,366,1847
9,Animal Farm,George Orwell,Political Satire,112,1945
10,Brave New World,Aldous Huxley,Science Fiction,311,1932
11,The Chronicles of Narnia,C.S. Lewis,Fantasy,767,1950
12,To the Lighthouse,Virginia Woolf,Modernist Fiction,209,1927
13,Crime and Punishment,Fyodor Dostoevsky,Philosophical Fiction,551,1866
14,The Picture of Dorian Gray,Oscar Wilde,Gothic Fiction,254,1890
15,Moby-Dick,Herman Melville,Adventure,585,1851
16,The Grapes of Wrath,John Steinbeck,Historical Fiction,464,1939
17,War and Peace,Leo Tolstoy,Historical Fiction,1225,1869
18,The Bell Jar,Sylvia Plath,Semi-autobiographical Fiction,244,1963
19,The Road,Cormac McCarthy,Post-apocalyptic Fiction,287,2006
20,The Hitchhiker's Guide to the Galaxy,Douglas Adams,Science Fiction,215,1979

In [44]:
df.to_csv("book.csv", index=0)

In [45]:
df = pd.read_csv("book.csv")
df

,Title,Author,Genre,Pages,Publication Year
0,1984,George Orwell,Dystopian Fiction,328,1949
1,To Kill a Mockingbird,Harper Lee,Fiction,281,1960
2,The Great Gatsby,F. Scott Fitzgerald,Classic,218,1925
3,Pride and Prejudice,Jane Austen,Romance,279,1813
4,The Catcher in the Rye,J.D. Salinger,Coming-of-age,277,1951
5,The Hobbit,J.R.R. Tolkien,Fantasy,310,1937
6,Harry Potter and the Philosopher's Stone,J.K. Rowling,Fantasy,223,1997
7,The Lord of the Rings,J.R.R. Tolkien,Fantasy,1178,1954
8,Jane Eyre,Charlotte BrontÃ«,Gothic Fiction,366,1847
9,Animal Farm,George Orwell,Political Satire,112,1945
10,Brave New World,Aldous Huxley,Science Fiction,311,1932
11,The Chronicles of Narnia,C.S. Lewis,Fantasy,767,1950
12,To the Lighthouse,Virginia Woolf,Modernist Fiction,209,1927
13,Crime and Punishment,Fyodor Dostoevsky,Philosophical Fiction,551,1866
14,The Picture of Dorian Gray,Oscar Wilde,Gothic Fiction,254,1890
15,Moby-Dick,Herman Melville,Adventure,585,1851
16,The Grapes of Wrath,John Steinbeck,Historical Fiction,464,1939
17,War and Peace,Leo Tolstoy,Historical Fiction,1225,1869
18,The Bell Jar,Sylvia Plath,Semi-autobiographical Fiction,244,1963
19,The Road,Cormac McCarthy,Post-apocalyptic Fiction,287,2006
20,The Hitchhiker's Guide to the Galaxy,Douglas Adams,Science Fiction,215,1979

# df head 

* return first 5 column

In [46]:
df.head()

,Title,Author,Genre,Pages,Publication Year
0,1984,George Orwell,Dystopian Fiction,328,1949
1,To Kill a Mockingbird,Harper Lee,Fiction,281,1960
2,The Great Gatsby,F. Scott Fitzgerald,Classic,218,1925
3,Pride and Prejudice,Jane Austen,Romance,279,1813
4,The Catcher in the Rye,J.D. Salinger,Coming-of-age,277,1951

# tail()

*  return last 5 column

In [47]:
df.tail()

,Title,Author,Genre,Pages,Publication Year
16,The Grapes of Wrath,John Steinbeck,Historical Fiction,464,1939
17,War and Peace,Leo Tolstoy,Historical Fiction,1225,1869
18,The Bell Jar,Sylvia Plath,Semi-autobiographical Fiction,244,1963
19,The Road,Cormac McCarthy,Post-apocalyptic Fiction,287,2006
20,The Hitchhiker's Guide to the Galaxy,Douglas Adams,Science Fiction,215,1979

In [48]:
type(df)

pandas.core.frame.DataFrame

# particular rows

In [53]:
df = pd.read_csv("book.csv", nrows=3)
df

,Title,Author,Genre,Pages,Publication Year
0,1984,George Orwell,Dystopian Fiction,328,1949
1,To Kill a Mockingbird,Harper Lee,Fiction,281,1960
2,The Great Gatsby,F. Scott Fitzgerald,Classic,218,1925

In [60]:
df = pd.read_csv("book.csv", usecols=["Genre", "Title"], nrows=4)
df

                   Title              Genre
0                   1984  Dystopian Fiction
1  To Kill a Mockingbird            Fiction
2       The Great Gatsby            Classic
3    Pride and Prejudice            Romance

In [5]:
df = pd.read_csv("book.csv", usecols=[0,3,4], nrows=6)
df

                    Title  Pages  Publication Year
0                    1984    328              1949
1   To Kill a Mockingbird    281              1960
2        The Great Gatsby    218              1925
3     Pride and Prejudice    279              1813
4  The Catcher in the Rye    277              1951
5              The Hobbit    310              1937

In [8]:
df = pd.read_csv("book.csv", index_col=0, usecols=[0,3,4])
df.tail()

                                      Pages  Publication Year
Title
The Grapes of Wrath                     464              1939
War and Peace                          1225              1869
The Bell Jar                            244              1963
The Road                                287              2006
The Hitchhiker's Guide to the Galaxy    215              1979

# read by index

In [13]:
df = pd.read_csv("book.csv", index_col='Publication Year')
df.tail()

,Title,Author,Genre,Pages
Publication Year,,,,
1939,The Grapes of Wrath,John Steinbeck,Historical Fiction,464
1869,War and Peace,Leo Tolstoy,Historical Fiction,1225
1963,The Bell Jar,Sylvia Plath,Semi-autobiographical Fiction,244
2006,The Road,Cormac McCarthy,Post-apocalyptic Fiction,287
1979,The Hitchhiker's Guide to the Galaxy,Douglas Adams,Science Fiction,215

In [17]:
df = pd.read_csv("book.csv", index_col="Pages")
df.head()

,Title,Author,Genre,Publication Year
Pages,,,,
328,1984,George Orwell,Dystopian Fiction,1949
281,To Kill a Mockingbird,Harper Lee,Fiction,1960
218,The Great Gatsby,F. Scott Fitzgerald,Classic,1925
279,Pride and Prejudice,Jane Austen,Romance,1813
277,The Catcher in the Rye,J.D. Salinger,Coming-of-age,1951

In [6]:
df = pd.read_csv("book.csv")
df

,Title,Author,Genre,Pages,Publication Year
0,1984,George Orwell,Dystopian Fiction,328,1949
1,To Kill a Mockingbird,Harper Lee,Fiction,281,1960
2,The Great Gatsby,F. Scott Fitzgerald,Classic,218,1925
3,Pride and Prejudice,Jane Austen,Romance,279,1813
4,The Catcher in the Rye,J.D. Salinger,Coming-of-age,277,1951
5,The Hobbit,J.R.R. Tolkien,Fantasy,310,1937
6,Harry Potter and the Philosopher's Stone,J.K. Rowling,Fantasy,223,1997
7,The Lord of the Rings,J.R.R. Tolkien,Fantasy,1178,1954
8,Jane Eyre,Charlotte BrontÃ«,Gothic Fiction,366,1847
9,Animal Farm,George Orwell,Political Satire,112,1945
10,Brave New World,Aldous Huxley,Science Fiction,311,1932
11,The Chronicles of Narnia,C.S. Lewis,Fantasy,767,1950
12,To the Lighthouse,Virginia Woolf,Modernist Fiction,209,1927
13,Crime and Punishment,Fyodor Dostoevsky,Philosophical Fiction,551,1866
14,The Picture of Dorian Gray,Oscar Wilde,Gothic Fiction,254,1890
15,Moby-Dick,Herman Melville,Adventure,585,1851
16,The Grapes of Wrath,John Steinbeck,Historical Fiction,464,1939
17,War and Peace,Leo Tolstoy,Historical Fiction,1225,1869
18,The Bell Jar,Sylvia Plath,Semi-autobiographical Fiction,244,1963
19,The Road,Cormac McCarthy,Post-apocalyptic Fiction,287,2006
20,The Hitchhiker's Guide to the Galaxy,Douglas Adams,Science Fiction,215,1979

In [11]:
row_skip = [0,10,5,7]
df = pd.read_csv("book.csv", skiprows=row_skip)
df

,1984,George Orwell,Dystopian Fiction,328,1949
0,To Kill a Mockingbird,Harper Lee,Fiction,281,1960
1,The Great Gatsby,F. Scott Fitzgerald,Classic,218,1925
2,Pride and Prejudice,Jane Austen,Romance,279,1813
3,The Hobbit,J.R.R. Tolkien,Fantasy,310,1937
4,The Lord of the Rings,J.R.R. Tolkien,Fantasy,1178,1954
5,Jane Eyre,Charlotte BrontÃ«,Gothic Fiction,366,1847
6,Brave New World,Aldous Huxley,Science Fiction,311,1932
7,The Chronicles of Narnia,C.S. Lewis,Fantasy,767,1950
8,To the Lighthouse,Virginia Woolf,Modernist Fiction,209,1927
9,Crime and Punishment,Fyodor Dostoevsky,Philosophical Fiction,551,1866
10,The Picture of Dorian Gray,Oscar Wilde,Gothic Fiction,254,1890
11,Moby-Dick,Herman Melville,Adventure,585,1851
12,The Grapes of Wrath,John Steinbeck,Historical Fiction,464,1939
13,War and Peace,Leo Tolstoy,Historical Fiction,1225,1869
14,The Bell Jar,Sylvia Plath,Semi-autobiographical Fiction,244,1963
15,The Road,Cormac McCarthy,Post-apocalyptic Fiction,287,2006
16,The Hitchhiker's Guide to the Galaxy,Douglas Adams,Science Fiction,215,1979

# Read / Write Multiple dataframe

In [3]:
list_1 = {'Names': ['Andreas', 'George', 'Steve',

'Sarah', 'Joanna', 'Hanna'],

'Age':[21, 22, 20, 19, 18, 23]}



list_2 = {'Names': ['Pete', 'Jordan', 'Gustaf',

'Sophie', 'Sally', 'Simone'],

'Age':[22, 21, 19, 19, 29, 21]}


list_3 = {'Names': ['Ulrich', 'Donald', 'Jon',

'Jessica', 'Elisabeth', 'Diana'],

'Age':[21, 21, 20, 19, 19, 22]}

In [19]:
df_lists = []
for item in [list_1, list_2, list_3]:
    df_list = pd.DataFrame(item)
    df_lists.append(df_list)


df = pd.concat(df_lists, keys =['Group1', 'Group2', 'Group3'], names=['Group', 'Row Num']).reset_index()

df.to_csv("multiframe.csv", index=False)

In [29]:
df = pd.read_csv("multiframe.csv")
df

     Group  Row Num      Names  Age
0   Group1        0    Andreas   21
1   Group1        1     George   22
2   Group1        2      Steve   20
3   Group1        3      Sarah   19
4   Group1        4     Joanna   18
5   Group1        5      Hanna   23
6   Group2        0       Pete   22
7   Group2        1     Jordan   21
8   Group2        2     Gustaf   19
9   Group2        3     Sophie   19
10  Group2        4      Sally   29
11  Group2        5     Simone   21
12  Group3        0     Ulrich   21
13  Group3        1     Donald   21
14  Group3        2        Jon   20
15  Group3        3    Jessica   19
16  Group3        4  Elisabeth   19
17  Group3        5      Diana   22

In [30]:
df.columns

Index(['Group', 'Row Num', 'Names', 'Age'], dtype='object')

In [31]:
df.index

RangeIndex(start=0, stop=18, step=1)